# Load Dataset

dataframe (df) is the object where pandas stores the data, each colum is actualy a hash containing the name of the column a as a key and the array of values as the value for the key. In this example we are loding the iris.data which is a text file that has no headers. So we need to put the header by hand in the names parameter of the read_csv function.

In [4]:
import pandas as pd

# columns has the name of each column.
columns = ["sepal length","sepal width","petal length","petal width", "class"]
df = pd.read_csv('iris.data',names = columns)
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

you can access the attributes of the dataframe object, for example this is the attribute columns, which has the names of each column in the dataframe.

In [5]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

You can access a single column as you would a dictionary

In [6]:
df["sepal length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

you can also get many columns, by providing a list of column names

In [7]:
df[ ["sepal length","sepal width"] ].head()  # head() returns the first five elements

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

This is how you would separate a data frame into training attributes (predictors, or x) and the target value (class, or y).

In [8]:
df_x = df[["sepal length","sepal width","petal length","petal width"]]
df_y = df[["class"]]

In [9]:
df_x

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [10]:
df_y

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

Each column of a dataframe is defined a Series object, these objects are built on top of and are very similar to numpy arrays. You can even convert them directly using to_numpy()

In [11]:
print( type(df_x["sepal length"]))

array = df_x["sepal length"].to_numpy()

print(type(array))

print(array)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
[5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]

you can also make new columns with indicators, since dataframes are based on numpy arrays, you can use the numpy operations across full arrays and you can also slice them.

In [12]:
df_x["sepal proportion"] = df_x["sepal width"]/df_x["sepal length"]
df_x["petal proportion"] = df_x["petal width"]/df_x["petal length"]
df_x.head()

,sepal length,sepal width,petal length,petal width,sepal proportion,petal proportion
0,5.1,3.5,1.4,0.2,0.686275,0.142857
1,4.9,3.0,1.4,0.2,0.612245,0.142857
2,4.7,3.2,1.3,0.2,0.680851,0.153846
3,4.6,3.1,1.5,0.2,0.673913,0.133333
4,5.0,3.6,1.4,0.2,0.720000,0.142857

In [13]:
df_x["petal proportion"][3:10] # slice from instance 3 to intance 10

3    0.133333
4    0.142857
5    0.235294
6    0.214286
7    0.133333
8    0.142857
9    0.066667
Name: petal proportion, dtype: float64

### Practice Pandas Loading Data sets.

Open and load the wine data set "wine.data" , it is in the same folder as the iris data set.

Check the names stored in the "wine.names" file to know how to name each column.

In [18]:
# columns has the name of each column.

# Specify the names in an list
columns = ['Class', "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", 
    "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", 
    "Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", 
    "Proline"]

# Open the file and create the data frame    
df = pd.read_csv('wine.data',names = columns)
df.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

Separate the data set into df_x and df_y remeber that the class should be in df_y and everything else in df_x.

print the first five elements of df_x and df_y to check that they are correct.

In [24]:
# Separate into df_x and df_y
df_x = df[["Alcohol", "Malic acid", "Ash", "Alcalinity of ash", 
    "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", 
    "Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", 
    "Proline"]]

df_y = df[["Class"]]

In [25]:
# Print df_x first 5
df_x.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [26]:
# Print df_x first 5
df_y.head()

   Class
0      1
1      1
2      1
3      1
4      1

Create a new column with a ratio of two attribute, i.e. find to attributes that might have some relation and divide one over the other and store as an extra column in df_x

In [27]:
# Create new column
df_x["Phenols Proportion"] = df_x["Total phenols"]/df_x["Nonflavanoid phenols"]

# Print df_x first 5
df_x.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Phenols Proportion
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,10.000000
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,10.192308
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,9.333333
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.041667
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,7.179487