## Challenge

It has happened. Aliens have arrived. They hail from a planet called Valhalla-23, where the temperature is measured in Valks. These visitors tell you that they have come to solve Earth’s global warming crisis. They offer you a machine that will solve the problem, but they warn you:

- The machine must be set up in Valks.
- If you input a wrong temperature value, you may end up freezing or scorching the Earth.
- No one knows how to transform between Celsius and Valks.

You are tasked with finding a model for solving this problem, so you ask Humans and Valkians to collect temperature readings of several objects. The data are given in the Valhalla23.csv file.

In [29]:
# Librerias
import pandas as pd

In [30]:
# Descargar datos de csv
Valhalla = pd.read_csv("Valhalla23.csv")

Valhalla

    Celsius     Valks
0   61.4720 -139.7400
1   70.5790 -156.6000
2   -7.3013   73.2690
3   71.3380 -165.4200
4   43.2360  -75.8350
..      ...       ...
95  -7.0094   69.6320
96  36.8820  -71.2400
97  26.9390  -34.2550
98 -18.8100  106.4300
99  13.7120    9.1011

[100 rows x 2 columns]

In [31]:
# Crear lista con los valores de la variable independiente (Celsius)
x = Valhalla['Celsius']

# Crear lista con los valores de la variable dependiente (Valks)
y = Valhalla['Valks']

# Crear lista con los hiper-parámetros iniciales (thetas)
theta = [1, 1]

# Cargar el valor del learning rate (alpha)
alpha = 0.0001

# Calcular el total de muestras a partir de los datos (n)
n = len(x)

In [32]:
# Crear función lambda para la función de hipótesis
def _lambda(list: theta, int: n):

    h_theta = []
    delta_theta = []
    suma_delta_theta0 = 0
    suma_delta_theta1 = 0
   
    for i in range(n):
        h_theta.append(theta[0] + theta[1]*x[i])
        delta_theta_0 = (1/n)*(h_theta[i] - y[i])
        delta_theta_1 = (1/n)*((h_theta[i] - y[i])*x[i])
        suma_delta_theta0 += delta_theta_0
        suma_delta_theta1 += delta_theta_1
    
    return suma_delta_theta0, suma_delta_theta1

In [33]:
# Calcular delta para theta y para cada muestra
delta_theta0, delta_theta1 = _lambda(theta, n)
delta_theta0, delta_theta1

(81.81848529999998, 6156.219098332408)

In [34]:
# Actualizar theta0
theta_0 = theta[0] - alpha*delta_theta0

# Actualizar theta1
theta_1 = theta[1] - alpha*delta_theta1

theta = [theta_0, theta_1]
theta

[0.99181815147, 0.38437809016675917]

In [35]:
for i in range(10000):
    # Calcular delta para theta y para cada muestra
    delta_theta0, delta_theta1 = _lambda(theta, n)
    delta_theta0, delta_theta1

    # Actualizar theta0
    theta_0 = theta[0] - alpha*delta_theta0

    # Actualizar theta1
    theta_1 = theta[1] - alpha*delta_theta1

    theta = [theta_0, theta_1]

theta

[18.513853352917806, -2.452969753801159]